---
import "~/styles/reset.css";
import "~/styles/global.css";
import "~/styles/theme.css";

export interface Props {
	title: string;
	description: string;
	ogImage?: string;
	ogAlt?: string;
}

const { title, description, ogImage, ogAlt } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const pageTitle = Astro.url.pathname === "/" ? title : `${title} | juna.is`;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="color-scheme" content="dark light" />
		<meta name="theme-color" content="#ffffff" />
		<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#111111" />
		<link rel="canonical" href={canonicalURL} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" type="image/png" href="/favicon-light.png" media="(prefers-color-scheme: light)" />
		<link rel="icon" type="image/png" href="/favicon-dark.png" media="(prefers-color-scheme: dark)" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="description" content={description} />
		<meta property="og:title" content={title} />
		<meta property="og:type" content="website" />
		<meta property="og:description" content={description} />
		<meta property="og:url" content={canonicalURL} />
		<meta property="og:locale" content="en_US" />
		<meta property="og:site_name" content="juna.is" />
		<meta property="og:image" content={ogImage ?? `${Astro.url.origin}/og/default.png`} />
    	<meta property="og:image:alt" content={ogAlt ?? "juna is the digital garden for designer and developer Austin Clark"} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
